#menu_text {
	background-color: #7e8780 ;
	/*Màu của background*/
	text-align: center;
	/*Căn giữa chữ*/
	padding: 30px;
	margin: 0;
	color: black;
	cursor: poiter;
}
}
footer {
	background-color: #333;
	color: white;
	padding: 10px 20px;
	text-align: center;
}
footer > a {
	color: #0b57cf;
}
